<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <h1 class="logo pe-4" [routerLink]="['/']">21-ProdavnicaMajica</h1>
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a
            href="#"
            class="nav-link px-2 text-white"
            [routerLink]="['/']"
            routerLinkActive="fw-bolder"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2 text-warning"
            [routerLink]="['/store']"
            routerLinkActive="fw-bolder"
            >Store</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2 text-white"
            [routerLink]="['/design']"
            routerLinkActive="fw-bolder"
            >Design</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2 text-white"
            [routerLink]="['/contact']"
            routerLinkActive="fw-bolder"
            >Contact</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2 text-white"
            [routerLink]="['/about']"
            routerLinkActive="fw-bolder"
            >About</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input
          type="search"
          class="form-control form-control-dark"
          placeholder="Search..."
          aria-label="Search"
          #searchBar
        />
        <button hidden (click)="search()"></button>
      </form>

      <div class="row text-end" *ngIf="isLoggedIn; else loginAndRegistration">
        <div class="col me-2">
          <a href="#" class="nav-link px-2 text-white" [routerLink]="['/user']"
            >User</a
          >
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-outline-light me-2"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
      <ng-template #loginAndRegistration>
        <div class="text-end">
          <button
            type="button"
            class="btn btn-outline-light me-2"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            Login
          </button>
          <button
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#registerModal"
          >
            Register
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</header>

<app-login></app-login>
<app-register></app-register>
