.msg-right{
  background:lightgray;
  padding:10px;
  text-align:right;
  margin:5px;
  width:70%;
  float:right;
  margin-right: 30px;
}
.msg-left{
  background:#f0ad4e;
  padding:10px;
  margin:5px;
  width:70%;
  float:left;
  margin-left: 30px;
}
.msg-left:before {
  width: 0;
  height: 0;
  content: "";
  top: 9px;
  left: -28px;
  position: relative;
  border-style: solid;
  border-width: 20px 0px 0px 20px;
  border-color: #f0ad4e transparent transparent transparent;
}
.msg-right:after {
  width: 0;
  height: 0;
  content: "";
  top: 9px;
  left: 29px;
  position: relative;
  border-style: solid;
  border-width: 20px 20px 00px 0px;
  border-color: lightgray transparent transparent transparent;
}
