<th>
  <div class="p-2">
    <img [src]="imgSrc" alt="" width="70" class="img-fluid rounded shadow-sm">
    <div class="ml-3 d-inline-block align-middle ms-4">
      <h5> <a class="text-dark d-inline-block" [routerLink]="['/product', product['tshirtId']]">{{tshirtName}}</a></h5>
    </div>
  </div>
</th>
<td class="align-middle"><strong>${{price}}</strong></td>
<td class="align-middle"><strong>{{getSize()}}</strong></td>
<td class="align-middle"><strong>{{product["quantity"]}}</strong></td>
<td class="align-middle"><i class="fa fa-trash" (click)="deleteMe()"></i></td>

