<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" [routerLink]="['/store']">
      <img
        src="/assets/Carousel.png"
        class="d-block w-100 carouselClickable"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>High quality T-Shirts</h5>
        <p>Buy t-shirts with the best prints you've ever seen.</p>
      </div>
    </div>
    <div class="carousel-item" [routerLink]="['/design']">
      <img
        src="/assets/Carousel.png"
        class="d-block w-100 carouselClickable"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Design your own shirt</h5>
        <p>Send us an image you want on your shirt and we'll print it.</p>
      </div>
    </div>
    <div class="carousel-item" [routerLink]="['/contact']">
      <img
        src="/assets/Carousel.png"
        class="d-block w-100 carouselClickable"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Right by your side</h5>
        <p>We have millions of locations across the world, find us near you.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
