  <div class="container">
    test
    <h1>korisnik : {{ user.username }}</h1>
    <h1>e-mail : {{ user.email }}</h1>
  </div>

  <div class="container-md mx-auto mt-5">

    <div class="row">
      <div class="col-lg-12 p-5 bg-white rounded shadow-md">

        <h2>Previous orders</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="bg-light">
                <th scope="col" class="border-0">
                  <div class="p-2 px-3 text-uppercase">Product</div>
                </th>
                <th scope="col" class="border-0">
                  <div class="py-2 text-uppercase">Price</div>
                </th>
                <th scope="col" class="border-0">
                  <div class="py-2 text-uppercase">Size</div>
                </th>
                <th scope="col" class="border-0">
                  <div class="py-2 text-uppercase">Quantity</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr app-order *ngFor="let order of userOrders;" [order]="order"></tr>
            </tbody>
          </table>
        </div>

      </div>

      <h2>Your wishlist</h2>
      <div class="row row-cols-md-4 row-cols-1 g-3">
        <app-card *ngFor="let tshirt of wishlistItems" [tshirt]="tshirt"></app-card>
      </div>
    </div>
  </div>


