<div class="container">
  <div class="row text-center" style="margin:20px">


    <div>
      <h5 class="text-muted">username</h5>
    </div>
    <div><h3 class="mb-4">{{ user.username }}</h3></div>


    <div>
      <h5 class="text-muted">E-mail</h5>
    </div>
    <div><h3>{{ user.email }}</h3></div>


    <!-- <div style="background-color:black; height:1px"></div> -->
</div>

  <div class="my-5" *ngIf='wishlistItems.length>0'>
    <h2>Your wishlist</h2>
    <div class="row row-cols-md-4 row-cols-1 g-3">
      <app-card
        *ngFor="let tshirt of wishlistItems"
        [tshirt]="tshirt"
      ></app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-5 rounded shadow-md">
      <h2>Previously ordered T-Shirts</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="bg-light">
              <th scope="col" class="border-0">
                <div class="p-2 px-3 text-uppercase">Product</div>
              </th>
              <th scope="col" class="border-0">
                <div class="py-2 text-uppercase">Price</div>
              </th>
              <th scope="col" class="border-0">
                <div class="py-2 text-uppercase">Size</div>
              </th>
              <th scope="col" class="border-0">
                <div class="py-2 text-uppercase">Quantity</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr app-order *ngFor="let order of userOrders" [order]="order"></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
