.rated{
  color: orange;
}

.unrated{
  color: gray;
}

/* * { border: 1px solid black; } */

.primaryButton
{
  background-color:orange;
}

.btn-outline-warning:hover {
  background-color: black;
  color: #f0ad4e;
}

.full-star:before {
  content: "\2605";
  position: absolute;
}

