.rate{
  color: orange;
}

/* * { border: 1px solid black; } */

.primaryButton
{
  background-color:orange;
}

.secondaryButton
{
  border-color:black;
  color:black;
}


.btn-outline-warning:hover {
  background-color: black;
  color: #f0ad4e;
}

