.rated{
  color: orange;
}

.unrated{
  color: gray;
}

/* * { border: 1px solid black; } */

.primaryButton
{
  background-color:orange;
}

.fa-heart {
  color: red;
  float: right;
  margin-right: 10px;
}

.fa-heart-o {
  float: right;
  margin-right: 10px;
}

.inline-headers h2{
  display: inline-block;
  vertical-align: baseline;
}

