<!-- PRODUCT DISPLAY SECTION END -------------------------- ----------------------------- -------------------- -->
<ng-container *ngIf="(product | async) as p">

<div class="col-md-8 mx-auto mt-5" >
  <div class="p-3 border bg-light">
    <div class="row">

      <div class="col-md">
        <div class="p-3 border">
          <img [src]="productService.getImageSrc(tshirt.image)" class="img-fluid" />
        </div>
      </div>

      <div class="col d-flex flex-column justify-content-between">
        <h2> {{p.tshirt.tshirtName}} </h2>
        <hr />
        <div class="col d-flex flex-column justify-content-between">
          <div class="d-flex align-items-center mb-3">
            <span
              class="fa fa-star fa-2x me-1"
              [ngClass]="(tshirt.ratingSum / tshirt.numberOfRatings) >= 1 ? 'rated': 'unrated' "
              (click)="changeRating(1)"
            ></span>
            <span
              class="fa fa-star fa-2x me-1"
              [ngClass]="(tshirt.ratingSum / tshirt.numberOfRatings) >= 2 ? 'rated': 'unrated' "
              (click)="changeRating(2)"
            ></span>
            <span
              class="fa fa-star fa-2x me-1"
              [ngClass]="(tshirt.ratingSum / tshirt.numberOfRatings) >= 3 ? 'rated': 'unrated' "
              (click)="changeRating(3)"
            ></span>
            <span
              class="fa fa-star fa-2x me-1"
              [ngClass]="(tshirt.ratingSum / tshirt.numberOfRatings) >= 4 ? 'rated': 'unrated' "
              (click)="changeRating(4)"
            ></span>
            <span
              class="fa fa-star fa-2x me-3"
              [ngClass]="(tshirt.ratingSum / tshirt.numberOfRatings) >= 5 ? 'rated': 'unrated' "
              (click)="changeRating(5)"
            ></span>
            <span class="align-middle">
              {{ tshirt.numberOfRatings }} {{tshirt.numberOfRatings == 1 ? "person" : "people"}} rated this product.
            </span>
          </div>

          <div>
            <h5 class="list-heading">Short description</h5>
            <ul>
              <li>High quality fiber</li>
              <li>Made in Serbia</li>
              <li>Feels super nice</li>
            </ul>
          </div>

          <div>
            <span class="label-rating text-muted">Price:</span>
            <strong class="label-rating ps-2" style="font-size: 25px">{{p.tshirt.price}}$</strong>
          </div>

          <div>
            <span class="label-rating text-muted">Quantity: </span>
            <input class="col-2" type="number" [(ngModel)]="quantityInput" value="1" min="1" onkeydown="return false"/>
          </div>

          <div>
            <span class="label-rating mr-3 text-muted">Available sizes:</span>
            <div class="d-flex justify-content-start mb-3">
              <div class="btn-group" data-toggle="buttons" role="group">
                <input
                  type="radio"
                  class="btn-check"
                  name="btnradio"
                  id="small"
                  autocomplete="off"
                  checked
                />
                <label
                  class="btn btn-outline-secondary"
                  for="small"
                  (click)="setTShirtSize(0)"
                  >Small</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="btnradio"
                  id="medium"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-secondary"
                  for="medium"
                  (click)="setTShirtSize(1)"
                  >Medium</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="btnradio"
                  id="large"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-secondary"
                  for="large"
                  (click)="setTShirtSize(2)"
                  >Large</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="btnradio"
                  id="extra_large"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-secondary"
                  for="extra_large"
                  (click)="setTShirtSize(3)"
                  >Extra large</label
                >
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-start mb-3">
            <button type="button" class="btn primaryButton me-2">
              Buy now
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="productService.addProductToCart(productId, size, quantityInput)"
            >
              Add to cart
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- PRODUCT DISPLAY SECTION END -------------------------- ----------------------------- -------------------- -->
<!-- COMMENT SECTION -------------------------- ----------------------------- ----------------------------- -->
  <div class="col-md-6 mx-auto mt-5">
    <div class="row">
      <app-comment *ngFor="let comment of tshirt.comments; let i = index" [commentText]="comment" [alignRight]="i%2"></app-comment>
    </div>

    <div class="p-3">
      <textarea class="form-control ml-1 textarea" type="text" [(ngModel)]="commentTextArea"></textarea>
      <div class="col-xs text-right p-2">
        <button class="btn btn-outline-secondary btn-sm mr-2" type="button" (click)="newComment(p.tshirt.tshirtName, commentTextArea)">Post comment</button>
      </div>
    </div>
  </div>
<!-- COMMENT SECTION END -------------------------- ----------------------------- -------------------- -->



</ng-container>
