<div class="container bg-dark text-white my-3 p-1">
  <div class="row justify-content-between">
    <div class="col-auto">
      <div class="input-group input-group-sm">
        <span
          class="input-group-text text-white bg-dark"
          id="inputGroup-sizing-sm"
          >Sort by:
        </span>
        <select name="" id="" class="form-select">
          <option selected>Name (A-Z)</option>
          <option value="1">Price (lowest first)</option>
          <option value="2">Price (highest first)</option>
        </select>
      </div>
    </div>
    <div class="col-auto"></div>
    <div class="col-auto">
      <div class="input-group input-group-sm">
        <span
          class="input-group-text text-white bg-dark"
          id="inputGroup-sizing-sm"
          >Show per page:
        </span>
        <input type="number" class="form-control" placeholder="50" />
      </div>
    </div>
  </div>
</div>
